<%= link_to "Back", root_path %>
<div class="w-auto">
  <div class="flex justify-center">
    <%= image_tag @wear.image_name, class: "h-fit w-[380px]" %>
    <%= form_for @order, class: "ml-8" do |form| %>
      <h3><%= @wear.name %></h3>
      <h4 class="mt-3 mb-8"> Ціна: <%= @wear.price %> </h4>
      <h5>Виберіть розмір та вкажіть потрібну кількість</h5>
      <div>
        <% WearOrderDetailSize.classic_sizes.each do |name, value| %>
          <% classic_size_id = [name.delete("/"), value].join("_") %>
          <div class="flex items-center" data-controller="quantity-changer">
            <%= hidden_field_tag "order[wear_orders_attributes][0][wear_id]", @wear.id %>
            <%= hidden_field_tag "order[user_id]", 1 %>
            <%= check_box_tag "order[wear_orders_attributes][0][wear_order_detail_sizes_attributes][#{value}][classic_size]", name, id: classic_size_id, data: { quantity_changer_target: "checkbox" } %>
            <%= label_tag classic_size_id, name, class: "ml-2" %>
            <div class='flex items-center ml-8'>
              <button type="button" class='py-1 px-3 rounded-md bg-slate-400' data-action="click->quantity-changer#minus">-</button>
              <%= text_field_tag "order[wear_orders_attributes][0][wear_order_detail_sizes_attributes][#{value}][quantity]", 0, class: "p-2 w-9", data: { quantity_changer_target: "quantity" }%>
              <button type="button" class='py-1 px-3 rounded-md bg-slate-300' data-action="click->quantity-changer#plus">+</button>
            </div>
          </div>
        <% end %>
        <%= form.submit "Купити", data: { action: "click->open-modal#view" } %>
      </div>
    <% end %>
    <%= form_for @order, html: { class: "ml-8" } do |form| %>
      <h4 class="mt-5 my-1"> Або вкажіть власні заміри </h4>
      <%= render partial: "wears/detail_size_show", locals: { form: form } %>
      <%= form.submit "Купити", class: "mt-4", data: { action: "click->open-modal#view" } %>
    <% end %>
  </div>
  <div>
    <h3>Опис</h3>
    <p><%= @wear.description %> </p>
  </div>
</div>
