<!DOCTYPE html>
<html>
  <head>
    <title>BREAUX | Спецодяг на замовлення</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body data-controller="open-modal">
    <div class="modal" data-open-modal-target="wrapper"></div>
    <%= render template: "shared/navbar" %>
    <div class="flash-wrapper" id="flash">
      <% if flash.present? %>
        <%= render partial: "shared/flash_popup", locals: { msg: flash[:notice], type: :notice } %>
      <% end %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <%= render template: "shared/footer" %>
  </body>
</html>
